<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/sir-1/IdeaProjects/Winter2022TAF">
        <classes>
            <class name="annotations.SampleTest">
                <methods>
                    <include name="demoTest"/>
                    <include name="demoTest2"/>
                    <include name="demoTest12"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>